<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>dossiers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>

<div class="head"></div>

<diV class="left-menu">
    <a class="get-rooms" href="http://localhost:8090/rooms">get rooms</a>
</diV>

<div class="body"></div>


<h2>My dossier</h2>

<p th:text="'id ' + ${id}" />

<script>
    $(".get-rooms").on("click", function (e) {
        e.preventDefault();
        callAjax(e.href, function( result ) {
            alert(result);
            $(".head").html(result);
        });
        return false;
    });
    var callAjax = function(urlValue, callBack) {
        $.ajax({
            url: "http://localhost:8090/rooms",
            success: callBack
        });
    };

</script>

</body>

</html>


